<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<% include ./template/header.ejs %>
    <div class="container-fluid">
  		<div class="row">
  			<% include ./template/left.ejs %>
  			<div class="col-sm-9">
  				<div class="row micro-content">
  					<div class="col-sm-10">
  						<div class="row">
              <% var blogDetail = locals['blogDetail'];%>
              <% if(locals['blogDetail']){%>
 								<h4><a href=""><%=blogDetail.title %></a></h4>
  							<!-- <div class="col-sm-2">
                  <img class="news-img" src="/images/1.jpg" alt="">
                </div> -->
  							<div class="col-sm-11 text-content">
                    <div class="blog-title">
                        <span><%= blogDetail.createtime%> </span> 
                    </div>
                    <div class="text-content">
                      <%- blogDetail.content%>
                    </div>
  							</div>
                <% }else{%>
                <div>
                    <%=title%>
                </div>
                <%}%>
  						</div>
              <!-- <form action="/uploadImage" enctype="multipart/form-data" method="post">
               <input type="file" name="upload"><br>
               <input type="submit" value="Upload">
              </form> -->
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
    <% include ./template/footer.ejs %>
  </body>
</html>


