<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	<% include ./template/header.ejs %>
    <div class="container-fluid main-content">
  		<div class="row">
  			<% include ./template/left.ejs %>
  			<div class="col-sm-10">
  				<div class="row micro-content">
  					<div class="col-sm-10">
  						<div class="row">
                <% var blogListByType = locals['blogTypeList']%>
                <% if (locals['blogTypeList']){%>
                  <% for (i in blogListByType){%>
                    <div class="col-sm-11">
                        <h4><a href="<%=blogListByType[i].type%>
                        /<%=blogListByType[i].id%>"><%=blogListByType[i].title %></a>
                    </h4>
                        <div class="blog-title">
                            <span><%=blogListByType[i].createtime %></span> 
                        </div>
                        <div class="text-content">
                              <%- blogListByType[i].description %>
                        </div>
                    </div>
                  <%}%>
                <% }else{%>
                    <div>
                      <%= title%>
                    </div>
                <% }%>
                <!-- <div>
                    标题
                </div> -->
  						</div>
              <!-- <form action="/uploadImage" enctype="multipart/form-data" method="post">
               <input type="file" name="upload"><br>
               <input type="submit" value="Upload">
              </form> -->
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
    <% include ./template/footer.ejs %>
    <script>
     
    </script>
  </body>
</html>